PROJECT_NAME="SPREEGO Authentication API"
ENVIRONMENT=development
DATABASE_URL=postgresql://spreego_user:spreego_pass@localhost:5432/spreego_db
SECRET_KEY=spreego_super_secret_jwt_key_at_least_32_characters_long_2026
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
OTP_EXPIRE_MINUTES=5
OTP_LENGTH=6
MAX_OTP_ATTEMPTS=5
